
<nz-layout>
  <nz-sider nzWidth="200px" nzTheme="dark" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" style="height: 100vh;">
    <div class="logo">
      <span class="text">ServiceHub</span>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" class="sider-menu">
      <li nz-menu-item ><a style="padding: 0" routerLink="/admin/dashboard" routerLinkActive="active"> <nz-icon nzType="dashboard" nzTheme="outline" /> Dashboard</a></li>
      <li nz-submenu nzTitle="Providers" nzIcon="solution" [(nzOpen)]="openMap['sub1']"
          (nzOpenChange)="openHandler('sub1')">
        <ul>
          <li>
            <ul>
              <li nz-menu-item><a routerLink="/admin/providers" routerLinkActive="active">All Providers</a></li>
              <li nz-menu-item><a routerLink="/admin/provider/update" routerLinkActive="active">Edit Profile</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Customers" nzIcon="team" [(nzOpen)]="openMap['sub2']"
          (nzOpenChange)="openHandler('sub2')">
        <ul>
          <li nz-menu-item><a routerLink="/admin/clients" routerLinkActive="active">All Customers</a></li>
          <li nz-menu-item><a routerLink="/admin/client/update" routerLinkActive="active">Edit Customer Profile</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Booking" nzIcon="table" [(nzOpen)]="openMap['sub3']"
          (nzOpenChange)="openHandler('sub3')">
        <ul>
          <li nz-menu-item><a routerLink="/admin/service/book" routerLinkActive="active">Book Service</a></li>
          <li nz-menu-item><a routerLink="/admin/bookings" routerLinkActive="active">All Bookings</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Services" nzIcon="issues-close" [(nzOpen)]="openMap['sub4']"
          (nzOpenChange)="openHandler('sub4')">
        <ul>
          <li nz-menu-item><a routerLink="/admin/services" routerLinkActive="active">All Service</a></li>
          <li nz-menu-item><a routerLink="/admin/service/book" routerLinkActive="active">Create Service</a></li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header style="padding: 0;">
      <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></span>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu" *ngIf="isAdminLoggedIn">
        <li nz-menu-item nzSelected><a routerLink="/admin/dashboard" routerLinkActive="active">Admin
          Dashboard</a></li>
        <li nz-menu-item><a routerLink="/admin/search" routerLinkActive="active">Search
          Services</a></li>
        <li  style="float: right;"><a routerLinkActive="active" nz-button [nzShape]="'round'" (click)="logout()"><nz-icon nzType="lock" nzTheme="twotone" nzTwotoneColor="#eb2f96"/> Logout</a></li>
      </ul>
    </nz-header>

    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <nz-footer class="footer">&copy; 2025 All Rights Reserved | Gichunga Designs</nz-footer>
  </nz-layout>

</nz-layout>
