<nz-spin [nzSpinning]="isSpinning">
  <h3>Create Category</h3>
  <form nz-form [formGroup]="categoryForm" class="category-form">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input Category Name!">
        <nz-input-group>
          <input type="text" nz-input formControlName="categoryName" placeholder="Category" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button mat-flat-button class="category-form-button category-form-margin" style="margin-top: 10px;" (click)="createCategory()">Create Category</button>
  </form>
</nz-spin>

