<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="working...">
  <h3>ALL CUSTOMERS</h3>
  <nz-table #sortTable [nzData]="customers" nzTableLayout="auto" [nzPageSize]="10" [nzShowPagination]="'true'">
    <thead>
    <tr>
      <th style="font-weight: bolder; color: #003973;">Full Name</th>
      <th style="font-weight: bolder; color: #003973;">Email</th>
      <th style="font-weight: bolder; color: #003973;">Phone Number</th>
      <th style="font-weight: bolder; color: #003973;">ID Number</th>
      <th style="font-weight: bolder; color: #003973;">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of sortTable.data">
      <td>{{ customer.fullName }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.phoneNumber }}</td>
      <td>{{ customer.idNumber }}</td>
      <td>
        <button mat-flat-button (click)="openUpdateModal(customer)">Update</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button style="background: #ff4081" mat-flat-button (click)="deleteCustomer(customer.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-spin>





<!-- MODALS -->
<!-- Update Customer Modal -->
<nz-modal [(nzVisible)]="isUpdateModalVisible" nzTitle="Update Customer" (nzOnCancel)="handleCancel()" (nzOnOk)="updateCustomer()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="updateForm" class="category-form">
      <nz-form-item>
        <nz-form-label nzFor="type">Full Name</nz-form-label>
        <nz-form-control nzErrorTip="This Input is Required" nzHasFeedback [nzErrorTip]="nameErrorTpl">
          <input nz-input type="text" formControlName="fullName" placeholder="Full Name">
        </nz-form-control>
        <ng-template #nameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Customer Full Name is required
          </ng-container>
        </ng-template>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="type">Username</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input type="text" formControlName="username" placeholder="Username">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="type">Email</nz-form-label>
        <nz-form-control nzErrorTip="This Input is Required" nzHasFeedback [nzErrorTip]="emailErrorTpl">
          <input nz-input type="email" formControlName="email" placeholder="Email">
        </nz-form-control>
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Customer Email is required
          </ng-container>
        </ng-template>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="type">Phone Number</nz-form-label>
        <nz-form-control nzErrorTip="This Input is Required" nzHasFeedback [nzErrorTip]="phoneErrorTpl">
          <input nz-input type="text" formControlName="phoneNumber" placeholder="Phone Number">
        </nz-form-control>
        <ng-template #phoneErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Customer Phone Number is required
          </ng-container>
        </ng-template>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="type">ID Number</nz-form-label>
        <nz-form-control nzErrorTip="This Input is Required" nzHasFeedback [nzErrorTip]="idErrorTpl">
          <input nz-input type="text" formControlName="idNumber" placeholder="ID Number">
        </nz-form-control>
        <ng-template #idErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Customer ID Number is required
          </ng-container>
        </ng-template>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="type">Password</nz-form-label>
        <nz-form-control nzErrorTip="This Input is Required" nzHasFeedback [nzErrorTip]="passErrorTpl">
          <input nz-input type="text" formControlName="password" placeholder="Password">
        </nz-form-control>
        <ng-template #passErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Password is Required
          </ng-container>
        </ng-template>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="type">Confirm Password</nz-form-label>
        <nz-form-control nzErrorTip="This Input is Required" nzHasFeedback [nzErrorTip]="cpassErrorTpl">
          <input nz-input type="text" formControlName="confirmPassword" placeholder="Confirm Password">
        </nz-form-control>
        <ng-template #cpassErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Confirm Password is Required
          </ng-container>
          <ng-container *ngIf="control.hasError('pattern')">
            Password should contain at least 8 characters, 1 Lowercase, 1 Uppercase, 1 Number and 1 Special
            character
          </ng-container>
        </ng-template>
      </nz-form-item>
      <!--      <button mat-flat-button (click)="createCustomer()" style="margin-top: 10px">Create Customer</button>-->
    </form>
  </ng-container>
</nz-modal>
