<nz-spin [nzSpinning]="isSpinning">
  <h3>Book Service</h3>
  <form nz-form [formGroup]="bookingForm" class="category-form">
    <nz-form-item>
      <nz-form-label nzFor="type">Customer</nz-form-label>
      <nz-form-control nzErrorTip="This Input is Required">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Type" formControlName="customerId">
          <nz-option *ngFor="let customer of customers" nzLabel="{{customer.fullName}}" nzValue="{{customer.id}}"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="type">Service</nz-form-label>
      <nz-form-control nzErrorTip="This Input is Required">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Type" formControlName="serviceId">
          <nz-option *ngFor="let service of services" nzLabel="{{service.serviceName}}" nzValue="{{service.id}}"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="serviceDate">Service Date</nz-form-label>
      <nz-form-control nzErrorTip="This Input is Required">
        <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" formControlName="serviceDate" style="width: 100%"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <button mat-flat-button class="category-form-button category-form-margin" style="margin-top: 10px" (click)="bookService()">Book service</button>

  </form>
</nz-spin>
