<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="working...">
  <nz-table #basicTable [nzData]="services" [nzPageSize]="20" [nzShowPagination]="'false'">
    <thead>
    <tr>
      <th style="font-weight: bolder; color: #003973;">Service Provider</th>
      <th style="font-weight: bolder; color: #003973;">Name</th>
      <th style="font-weight: bolder; color: #003973;">Price</th>
      <th style="font-weight: bolder; color: #003973;">Description</th>
      <th style="font-weight: bolder; color: #003973;">Status</th>
      <th style="font-weight: bolder; color: #003973;">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let solution of basicTable.data">
      <td>{{ solution.providerId }}</td>
      <td>{{ solution.serviceName }}</td>
      <td>{{ solution.price }}</td>
      <td>{{ solution.description }}</td>
      <td>
        <strong
          [ngStyle]="{'color': solution.bookCarStatus === 'APPROVED' ? 'green' : solution.bookCarStatus === 'REJECTED' ? 'red' : solution.bookCarStatus === 'PENDING' ? 'grey': ''}">
          {{ solution.bookCarStatus }}
        </strong>
      </td>
      <td>
        <span *ngIf="solution.bookings.length === 0">
          <button style="margin-left: 10px;" nz-button nzSize="small" nzType="primary">Book</button>
        </span>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-spin>
