<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="working...">
  <h3>CUSTOMER BOOKINGS</h3>
  <nz-table #basicTable [nzData]="bookings" [nzPageSize]="20" [nzShowPagination]="'false'">
    <thead>
    <tr>
      <th style="font-weight: bolder; color: #003973;">Customer</th>
      <th style="font-weight: bolder; color: #003973;">Service</th>
      <th style="font-weight: bolder; color: #003973;">Booking Date</th>
      <th style="font-weight: bolder; color: #003973;">Approval Status</th>
      <th style="font-weight: bolder; color: #003973;">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let booking of basicTable.data">
      <td>{{ userMap.get(booking.customerId) || 'Unknown Customer' }}</td>
      <td>{{ serviceMap.get(booking.serviceId) || 'Unknown Service' }}</td>
      <td>{{ booking.bookingDate | date: 'MMM d, y' }}</td>
      <td>
        <strong>
          <button
            [ngStyle]="{'color': booking.bookingStatus === 'Pending' ? 'grey' : booking.bookingStatus === 'Rejected' ? 'red' : booking.bookingStatus === 'Approved' ? 'green': ''}"
            mat-stroked-button>{{ booking.bookingStatus }}
          </button>
        </strong>
      </td>
      <td>
        <span *ngIf="booking.bookingStatus === 'Pending'">
          <button style="margin-left: 10px;" mat-flat-button
                  (click)="changeStatus(booking.id, 'Approve')">Approve</button>
          <button style="margin-left: 10px;background: #ffc107" mat-flat-button
                  (click)="changeStatus(booking.id, 'Reject')">Reject</button>
          <button style="margin-left: 10px;background: #ff4081" mat-flat-button (click)="deleteBooking(booking.id)">Delete</button>
        </span>
        <span *ngIf="booking.bookingStatus === 'Rejected'">
          <button style="margin-left: 10px;" mat-flat-button
                  (click)="changeStatus(booking.id, 'Approve')">Approve</button>
          <button style="margin-left: 10px;background: #ff4081" mat-flat-button (click)="deleteBooking(booking.id)">Delete</button>
        </span>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-spin>

